body{
  min-width: 700px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

.incorrectServerConnection{
  font-size: 40px;
  color: red;
  font-weight: 700;
}

.nameItem {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
  width: 200px;
}

.priceItem {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
  min-width: 150px;
}